In [34]:
import pandas as pd

In [35]:
df = pd.read_csv(r"C:\Users\asus\Downloads\credit_scoring - credit_scoring.csv")

In [36]:
df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828,2,3289000,6.28,36,Personal Loan

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        1000 non-null   int64
 1   Gender                     1000 non-null   object
 2   Marital Status             1000 non-null   object
 3   Education Level            1000 non-null   object
 4   Employment Status          1000 non-null   object
 5   Credit Utilization Ratio   1000 non-null   float64
 6   Payment History            1000 non-null   int64
 7   Number of Credit Accounts  1000 non-null   int64
 8   Loan Amount                1000 non-null   int64
 9   Interest Rate              1000 non-null   float64
 10  Loan Term                  1000 non-null   int64
 11  Type of Loan               1000 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 93.9+ KB

In [38]:
# df.isna().sum()

In [39]:
x = df.drop(columns=['Type of Loan'])
y = df['Type of Loan']

In [40]:
num_df = x.select_dtypes(exclude='object').columns
cat_df = x.select_dtypes(include='object').columns

In [41]:
num_df

Index(['Age', 'Credit Utilization Ratio', 'Payment History',
       'Number of Credit Accounts', 'Loan Amount', 'Interest Rate',
       'Loan Term'],
      dtype='object')

In [42]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [44]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',StandardScaler(),num_df),
    ('tnf2',OneHotEncoder(handle_unknown='ignore'),cat_df)
],remainder='passthrough')

In [45]:
transformer.fit_transform(x_train).shape

(800, 19)